<h3>Quick Guide to run own copy of webChronicle</h3>
<ol>
    <li>Modify <code>webchronicle.config.js</code> to fit your needs</li>
    <li>Run <code>npm install</code> to install dependencies</li>
    <li>Run <code>npm run scraper</code> to start the website scraper</li>
    <li>Run <code>npm run build</code> to build your copy of webChronicle</li>
    <li>Dont forget to add changes in <code>scraped-websites</code> to your repository</li>
    <li>Remove this message from <code>index.njk</code></li>
    <li>Enjoy your own copy of webChronicle! 🎉</li>
</ol>

<hr>
