<div class="text-center [&_picture]:!-mt-4">
    <img class="rounded" src="./public/bttf-meme.png" alt="Back To The Future - We have to go back, Marty! To save the World? No, to save the Web!" eleventy:widths="800">
    <p>
        A web archiving tool that allows you to capture and explore snapshots of webpages over time—like the Wayback Machine, but as your own personal Time Machine.
    </p>
    <p>
        <a href="{{ metadata.repository }}">Deploy your own instance of webChronicle to&nbsp;save&nbsp;the&nbsp;WEB!</a>
    </p>

</div>

<hr>

<h2>Latest Snapshots</h2>
