---
permalink: /404.html
layout: base
title: 404 - Page Not Found
desc: Oops! The page you're looking for doesn't exist.
---

<script>document.addEventListener('DOMContentLoaded', function () { plausible('404', { props: { path: document.location.pathname } }); });</script>

<div class="text-center">

    <h2 class="">
        <span class="block">Ahhhhhhh!</span>
        <small class="block">This page does not exist</small>
    </h2>

    <p class="">Don't get angry with me<br>I never caused you no pain...</p>
    <p class="">You can go back to <a href="/">homepage</a>.<br>Or sit here and listen to some music.</p>

    <iframe class="mx-auto w-full h-auto aspect-[16/9]" width="560" height="315" src="https://www.youtube-nocookie.com/embed/_mEC54eTuGw?si=HNY32IxEKFV8TEiE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>
