---
permalink: /
layout: base
title: webChronicle
desc: A web archiving tool that captures and explores snapshots of webpages over time, similar to the Wayback Machine.
---

{# Remove welcome message for own copy of webChronicle #}
{% include 'welcome-live.njk' %}

{% if snapshots.timestamps|length %}

<ul>
    {% for item in snapshots.timestamps|reverse %}
        <li>
            {% if snapshots.getByID(item).urls|length > 1 %}
                {{ item | formatDate('yyyy, LLLL d') }} <small>at</small> {{ item | formatDate('hh:mm:ss') }} <small><sup class="opacity-75">[{{ snapshots.getByID(item).urls|length }} websites]</sup></small>
                <ul class="not-prose list-none flex flex-wrap gap-3 border-l pl-4 my-0">
                    {% for url in snapshots.getByID(item).urls %}
                        <li class="m-0">
                            <a href="/snapshots/{{ item }}/{{ url }}/">{{ url }}</a>{% if not loop.last %},{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ item | formatDate('yyyy, LLLL d') }} <small>at</small> {{ item | formatDate('hh:mm:ss') }} - <a href="/snapshots/{{ item }}/{{ snapshots.getByID(item).urls|first }}/">{{ snapshots.getByID(item).urls|first }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% else %}

<p>No snapshots available.</p>

{% endif %}

