---
permalink: /
layout: base
title: webChronicle
desc: A web archiving tool that captures and explores snapshots of webpages over time, similar to the Wayback Machine.
---

{# Remove welcome message for own copy of webChronicle #}
{% include 'welcome-message.njk' %}


